
<div ng-controller="EventController">
  <!-- DISHES LIST -->
  <div ng-show="!selectedDish" class="dishes-list">
    <input mealing-confirm="createDish()" type="text" ng-model="createDishInput">

    <ul class="item-list">
      <li ng-repeat="dish in dishes" ng-click="selectDish(dish)">
      <button class="extra"
          ng-class="{ 'extra-active': dish.locked }"
          ng-click="toggleLocked(dish, $event)">
          <span class="glyphicon glyphicon-lock"></span>
        </button>
        <span class="glyphicon glyphicon-cutlery icon-text"></span> {{ dish.title }}
      </li>
    </ul>
  </div>
  <!-- END DISHES LIST -->

  <!-- INGREDIENT LIST -->
  <div ng-show="selectedDish">
    <button class="btn btn-default" ng-click="selectDish()">
      <span class="glyphicon glyphicon-chevron-left"></span> {{ selectedDish.title }}
    </button>

    <input mealing-confirm="createIngredient()" type="text" ng-model="createIngredientInput">

    <ul class="item-list">
      <li ng-repeat="ingredient in selectedDish.ingredients" class="clearfix">
      <button class="extra gravatar"
              ng-class="{ 'extra-active': !associationUnset(ingredient.providedBy) }"
              ng-style="{ 'background-image': !associationUnset(ingredient.providedBy) ? getGravatar(ingredient.providedBy) : 'none' }"
              ng-click="toggleProvidedBy(ingredient)">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        {{ ingredient.title }}
      </li>
    </ul>
  </div>
  <!-- END INGREDIENT LIST -->

  <mealing-login user="user"></mealing-login>
</div>

