
<div ng-controller="EventController">
  <!-- DISHES LIST -->
  <div ng-show="!selectedDish" class="dishes-list">
    <div class="input-group">
      <input class="form-control" ng-model="createDishInput">
      <div class="input-group-btn">
        <button class="btn btn-default" ng-click="createDish()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>

    <ul data-role="listview" data-inset="true">
      <li ng-repeat="dish in dishes" ng-click="selectDish(dish)">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      {{ dish.title }}
      </li>
    </ul>
  </div>
  <!-- END DISHES LIST -->

  <!-- INGREDIENT LIST -->
  <div ng-show="selectedDish">
    <button class="btn btn-default" ng-click="selectDish()">
      <span class="glyphicon glyphicon-chevron-left"></span> {{ selectedDish.title }}
    </button>

    <div class="input-group">
      <input class="form-control" ng-model="createIngredientInput">
      <div class="input-group-btn">
        <button class="btn btn-default" ng-click="createIngredient()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
    
    <ul data-role="listview" data-inset="true">
      <li ng-repeat="ingredient in selectedDish.ingredients">
        <button class="pull-right btn btn-default">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        {{ ingredient.title }}
      </li>
    </ul>
  </div>
  <!-- END iNGREDIENT LIST -->
</div>

