// main.less

* {
	text-shadow: none !important;
}

body, .ui-content, .ui-page, .payment-container {
	background-color: #c1392b !important;
}

h1 {
	font-size: 30pt !important;
    text-align: center;
    color: #fff !important;
}


::-webkit-inner-spin-button { display: none; }
