
<div class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter Event!</h4>
      </div>
      <div class="modal-body">
        <button ng-click="twitterSignIn()" class="btn btn-primary" ng-disabled="working">
          Sign in with Twitter
        </button>

        <button ng-click="twitterSignIn()" class="btn btn-danger" ng-disabled="working">
          Sign in with Google+
        </button>

        <h5>Manual Login</h5>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Name" ng-model="name" ng-disabled="working">
          <div class="input-group-btn">
            <button class="btn btn-success" ng-disabled="!name || working" ng-click="manualSignIn()">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

